[submodule "packages/installer/dependencies/zig-inquirer"]
	path = packages/installer/dependencies/zig-inquirer
	url = https://github.com/nektro/zig-inquirer.git
[submodule "packages/installer/dependencies/zig-range"]
	path = packages/installer/dependencies/zig-range
	url = https://github.com/nektro/zig-range.git
[submodule "packages/installer/dependencies/zig-ansi"]
	path = packages/installer/dependencies/zig-ansi
	url = https://github.com/nektro/zig-ansi.git
