#hykord-editor-panel {
    display: flex;
    flex-direction: column;
}

.hykord-editor-wrapper {
    display: flex;
}

.hykord-editor {
    box-sizing: border-box;
    height: calc(100vh - 250px);
    font-size: 14px;
    width: 100%;
}